/*definir variáveis*/
:root {
    --roxo: rgb(134, 12, 201);
    --preto: rgb(34, 34, 34);
}

/*zerar e definir elementos*/
* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--preto);
    color: white;
    font-family: 'Arial', Times, serif;
}

/*1- Cabeçalho*/
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    padding: 0.4rem 2rem;
}

header h1 {
    color: var(--roxo);
    font-family: 'Arial black';
    font-size: 2.3rem;
    text-transform: uppercase;
}

header nav a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    transition: 0.3s all;

    margin-left: 2rem;
}

header nav a:hover {
    color: var(--roxo);
}

header .signUp {
    background-color: var(--roxo);
    font-weight: bold;
    border: 0.15rem solid var(--roxo);
    border-radius: 1rem;
    padding:0.9rem;
}

header .signUp:hover {
    color: white;
}

/*2- Formulário*/

form {
    background-color: rgba(65, 50, 69, 0.852);

    position: absolute;	
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;

    height: 32rem;
    width: 25rem;
    border-radius: 0.7rem;
}

form .container {
    width: 80%;
    height: 80%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-contact {
    background-color: rgb(178, 133, 184);
    border-radius: 0.7rem;
    padding: 1rem 1rem;

    margin-bottom: 1.5rem;
}

label {
    display: block;

    margin-bottom: 0.5rem;
}

input[type='email'], input[type='password']{
    border-color: rgb(178, 133, 184);
	border-radius: 0.7rem;
    padding: 0.2rem 1rem;
    width: 100%;

    font-size: 14px;
}

.container-remember {
    font-size: 14px;
}

.container-remember input[type='checkbox'] {
    margin-bottom: 2.5rem;
    width: 5%;
}

.container-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    border:none;
}

input[type='submit'] {
    background-color: rgb(178, 133, 184);
    border-radius: 0.9rem;
    cursor: pointer;

    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 50%;
    height: 2.3rem;

    margin-bottom: 4rem;
}

input[type='submit']:hover {
    background-color: var(--roxo);
}

.container-submit a {
    color: white;
    font-size: 13px;
}

.container-submit a:hover {
    color: gray;
}

/*mobile*/
@media screen and (max-width: 760px) {
    /*1- Cabeçalho*/
    header {
        flex-direction: column;
    }
    
    header h1 {
        font-size: 2.1rem;
    }

    header nav {
        margin-top: 0.5rem;
    }

    header nav a {
        font-size: 17px;

        margin-left: 1rem;
    }

    header .signUp {
        background-color: var(--preto);
        border: none;
        padding: 0rem;
        font-weight: normal;
    }

    /*2- Formulário*/
    form {
        width: 100%;

        margin-top: 0.4rem;
    }

    form .container {
        width: 85%;
        height: 85%;
    }

    label {
        font-size: 20px;
        
        margin-bottom: 0.8rem;
    }
    
    input[type='email'], input[type='password']{
        padding: 0.5rem 0.5rem;
        font-size: 20px;
    }

    .container-remember {
        font-size: 17px;
    }
    
    input[type='submit'] {
        font-size: 23px;
    
        margin-bottom: 2rem;
    }
    
    .container-submit a {
        font-size: 15px;
    }
}